{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title></title>
    <link rel="stylesheet" href="{% static 'cloud/vendors/mdi/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'cloud/vendors/flag-icon-css/css/flag-icon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'cloud/vendors/css/vendor.bundle.base.css' %}" />
    <link rel="stylesheet" href="{% static 'cloud/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'cloud/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'cloud/css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'cloud/images/favicon.png' %}" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center mb-1" >
          <a style="text-decoration:none;" class="sidebar-brand brand-logo" href="{% static 'cloud_dashboard' %}"><h3></h3></a>
         
        </div>
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-image mb-5">
                <img style="width:50px; height:50px;" src="{% static 'cloud/faces/face1.jpg' %}" alt="profile" />
                <span class="login-status online"></span>
                <!--change to offline or busy as needed-->
              </div>
              <div class="nav-profile-text d-flex flex-column pr-3">
                <span class="font-weight-medium mb-2">Administrator</span>
              
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nm_dashboard' %}">
             <img style="height:25px;width:25px;" class="mr-2" src="{% static 'cloud/icon/dashboard (1).png' %}">
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'nm_view_pad_details' %}">
              <img style="height:25px;width:25px;" class="mr-2" src="{% static 'main/icons/report.png' %}">
              <span class="menu-title">View PAD Details</span>
            </a>
          </li>

          {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url 'enclave_view_files' %}">
              <img style="height:25px;width:25px;" class="mr-2" src="{% static 'cloud/icon/report.png' %}">
              <span class="menu-title">View Files</span>
            </a>
          </li> {% endcomment %}

             {% comment %} 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cloud_user_authentications' %}">
              <img style="height:25px;width:25px;" class="mr-2" src="{% static 'cloud/icon/file.png' %}">
              <span class="menu-title">User Authentications</span>
            </a>
          </li> {% endcomment %}
         


          <!-- <li class="nav-item">
            <a class="nav-link" href="/admin/admin-view-feedback.html">
              <img style="height:15px;width:15px;" class="mr-2" src="/user/icon/feedback (1).png">
              <span class="menu-title">Feedbacks</span>
            </a>
          </li> -->
        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles light"></div>
            <div class="tiles dark"></div>
          </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
            <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="{% url 'home' %}"><img src="{% static 'cloud/images/logo-mini.svg' %}" alt="logo" /></a>
            <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
              <i class="mdi mdi-menu"></i>
            </button>
          <ul class="navbar-nav">
           
            <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
              <form class="nav-link form-inline mt-2 mt-md-0" method="post">
                {% csrf_token %} 
                <div class="input-group">
                  <input type="search" name='search' class="form-control" placeholder="Search" />
                 
                  <button class="input-group-append" type="submit" >
                    <span class="input-group-text">
                      <i class="mdi mdi-magnify"></i>
                    </span>
                  </button>
                </div>
              </form>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right ml-lg-auto">
            <li class="nav-item dropdown d-none d-xl-flex border-0">
             
                <i class="mdi mdi-earth"></i> English </a>
          
            </li>
            <li class="nav-item nav-profile dropdown border-0">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                <img class="nav-profile-img mr-2" alt="" src="{% static 'cloud/faces/face1.jpg' %}" />
                <span class="profile-name">Administrator</span>
              </a>
              <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
               
                <a class="dropdown-item" href="{% url 'home' %} ">
                  <i class="mdi mdi-logout mr-2 text-primary"></i> Logout </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper pb-0">
          <div class="page-header flex-wrap">
            <h3 class="mb-0 text-info">
            </h3>
            <div class="d-flex">
            
            </div>
          </div>




          
          <div class="content-wrapper pb-0">
            <div class="page-header flex-wrap">

              <div>
               
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body px-0 overflow-auto">

                    <div class="table-responsive">
                      <table class="table">

                        <tbody>
                          
                          {% if messages %}              
                          {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                <script>swal({
                                  title: "Error",
                                  text: "{{message}}",
                                  icon: "warning",
                                  button: "OK",
                                });
                              </script>
                              
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                <script>swal({
                                  title: "Success :)",
                                  text: "{{message}}",
                                  icon: "success",
                                  button: "OK",
                                });
                              </script>
                            {% endif %}              
                          {% endfor %} 
                        {% endif %}
                          

                          <thead class="bg-primary text-white">
                            <th>Device Id</th>
                            <th>User Id</th>
                            <th>Device Name</th>
                            <th>Device Type</th>
                            <th>Device Uploaded Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                          </thead>


                     {% for h in data %}
                          <tr>

                            <td> 
                              {{h.device_id}}
                            
                           </td>

                            <td> 
                              {{h.user_id}}
                            
                           </td>
                      
                            <td> 
                               {{h.device_name}}
                             
                            </td>
                    
                            <td>
                              {{h.device_type}}
                            </td>

                            <td>
                              {{h.device_uploaded_date}}
                            </td>
                            

                            <td>
                              {% if h.key_status == 'Pending' %}
                              <div class="badge badge-inverse-primary"> Pending</div>
                              {% endif %}
  
                              {% if h.key_status == 'Sended' %}
                              <div class="badge badge-inverse-success"> Sended</div>
                              {% endif %}
  
                             
                            </td>

                          
                            <td>
                              {% if h.key_status == 'Pending' %}
                           
                             <a href="/accept-status/{{h.device_id}}" class="badge badge-inverse-danger" >Send Key</a>
                              {% endif %}
  
                              {% if h.key_status == 'Sended' %}
                           
                             <a href="/accept-status/{{h.device_id}}" class="badge badge-inverse-secondary " >Completed</a>
                              {% endif %}
                              </td>

                        

                          </tr>
                          {% endfor %}


                         
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>


              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="row">
                      <div class="col-6">
                        <h1>Heading</h1>
                      </div>
                      <div class="col-6">
                        <h1>Heading</h1>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <footer class="footer">

          </footer>
        </div>



        <!-- main -->



        <!-- footer -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2024, All rights
              reserved | </span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <a
                href="https://www.bootstrapdash.com/" target="_blank"></a>Designed & Developed by FZ INFOTECH</span>
          </div>
        </footer>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'cloud/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'cloud/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'cloud/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'cloud/vendors/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'cloud/vendors/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'cloud/vendors/flot/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'cloud/vendors/flot/jquery.flot.fillbetween.js' %}"></script>
    <script src="{% static 'cloud/vendors/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'cloud/flot/jquery.flot.pie.js' %}"></script>
   
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'cloud/js/off-canvas.js' %}"></script>
    <script src="{% static 'cloud/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'cloud/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'cloud/js/dashboard.js' %}"></script>
  <!-- End custom js for this page -->
</body>

</html>